.category-search--container input {
    padding: 10px;
    width: 300px;
    font-size: 12px;
}

.category-search--container label {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    top: -5px;
}